.shoes__cont{
    margin-top: 64px !important;
    margin-left: 40px;
}
.shoes_top{
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}
.shoes_btn{
    width: 100px;
    height: 40px;
    background: none;
    display: flex;
    align-items: start;
}
.shoes_img{
    width: 150px;
    border-radius: 50%;
}
.shoes_card{
    display: flex;
    flex-direction: column;
    
}
.shoes__title{
    width: 140px;text-align: center;
}
.sofa{
    margin-top: 50px !important;
}
.shoes_image{
    width: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}