.long_cont{
    width: 75%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 114px !important;
    .long{
        // padding: 40px;
        line-height: 40px;
        width: 30%;
        &_text{
            color: lightgrey;
            font-size: 14px;
            
        }
        &_logo{
            color: blue;
            font-size: 32px;
            font-family: "Arial";
            letter-spacing: -1px;
        }
        &_title{
            margin-top: 20px;
            font-weight: bold;
            font-size: 20px;
        }
        &_subtext{
            font-size: 14px;
            line-height: 20px;            
            display: flex;
            align-items: center;
            color: #707070;
        }
        &_btn{
            padding: 20px 50px 20px 50px ;
            margin-top: 20px;
            background: none;
            border: 1px solid ;
            font-size: 15px;
            line-height: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            gap: 10px;
        }
        &_imgbox{
            display: flex;
            gap: 17px;
            .long__img{
                width: 478px;
                height: 250px;
            }
            .lovess{
                width: 300px;
                height: 250px;
            }
        }
    }
}